nav.Base {
    z-index: 10;
    background-color: $secondary;
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 5px 40px;
    & + div{
        margin-top: 70px;
        height: calc(100vh - 70px);
        overflow-y: scroll;
    }
    .logo {
        height: 100%;
        img {
            height: 100%;
        }
    }
    .main-btn {
        float: right;
        right: 20px;
    }
    .profile {
        float: right;
    }
    .links {
        position: absolute;
        left: 200px;
        .navbar-nav {
            flex-direction: row;
        }
        .nav-link {
            color: white;
            font-size: 25px;
            margin-right: 30px;
            line-height: 49px;
            &.active {
                font-weight: bold;
                font-size: 30px;
                position: relative;
                bottom: 3px;
            }
        }
    }
}
