$primary: #f66c59;
$primary-rgb: 246, 108, 89;
$primary-contrast: #FFFFFF;
$primary-contrast-rgb: 0, 0, 0;
$primary-shade: #d85f4e;
$primary-tint: #f77b6a;

$secondary: #f0b948;
$secondary-rgb: 240, 185, 72;
$secondary-contrast: #000000;
$secondary-contrast-rgb: 0, 0, 0;
$secondary-shade: #d3a33f;
$secondary-tint: #f2c05a;

$tertiary: #0e4b6e;
$tertiary-rgb: 14, 75, 110;
$tertiary-contrast: #ffffff;
$tertiary-contrast-rgb: 255, 255, 255;
$tertiary-shade: #0c4261;
$tertiary-tint: #265d7d;

$quaternary: #62bbc5;
$quaternary-rgb: 98, 187, 197;
$quaternary-contrast: #000000;
$quaternary-contrast-rgb: 0, 0, 0;
$quaternary-shade: #56a5ad;
$quaternary-tint: #72c2cb;

$success: #10dc60;
$success-rgb: 16, 220, 96;
$success-contrast: #ffffff;
$success-contrast-rgb: 255, 255, 255;
$success-shade: #0ec254;
$success-tint: #28e070;

$warning: #ffce00;
$warning-rgb: 255, 206, 0;
$warning-contrast: #ffffff;
$warning-contrast-rgb: 255, 255, 255;
$warning-shade: #e0b500;
$warning-tint: #ffd31a;

$danger: #f04141;
$danger-rgb: 245, 61, 61;
$danger-contrast: #ffffff;
$danger-contrast-rgb: 255, 255, 255;
$danger-shade: #d33939;
$danger-tint: #f25454;

$dark: #222428;
$dark-rgb: 34, 34, 34;
$dark-contrast: #ffffff;
$dark-contrast-rgb: 255, 255, 255;
$dark-shade: #1e2023;
$dark-tint: #383a3e;

$medium: #757575;
$medium-rgb: 152, 154, 162;
$medium-contrast: #ffffff;
$medium-contrast-rgb: 255, 255, 255;
$medium-shade: #86888f;
$medium-tint: #a2a4ab;

$light: #f4f5f8;
$light-rgb: 244, 244, 244;
$light-contrast: #000000;
$light-contrast-rgb: 0, 0, 0;
$light-shade: #d7d8da;
$light-tint: #f5f6f9;
