.Login {
    &.wrapper {
        position: relative;
        top: 0;
        font-family: sans-serif;
        background: url(../assets/login.jpg);
        background-size: cover;
        background-position-y: bottom;
    }

    .box {
        width: 400px;
        padding: 40px;
        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        position: absolute;
        top: 10%;
        right: 10%;
    }

    .box .link {
        cursor: pointer;
        color: $secondary;
    }

    .box .title {
        margin: 0 0 30px;
        padding: 0;
        color: $secondary;
        font-size: 30px;
        text-align: center;
    }

    .box .inputBox {
        position: relative;
    }

    .box .inputBox input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        margin-bottom: 30px;
        color: #ffffff;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .box .inputBox label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }

    .box .inputBox input:focus ~ label,
    .box .inputBox input:valid ~ label {
        top: -20px;
        left: 0;
        color: $secondary;
        font-size: 12px;
    }

    .submit {
        position: relative;
        padding: 10px 115px;
        font-size: 13px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        margin-bottom: 10px;
    }
}
