@import "./colors";
@import "./btns";
@import "./login";
@import "./landPage";
@import "./base";
@import "./home";
@import "./diaryCard";

* {
    font-family: "Varela Round", sans-serif;
}
h1,h2,h3,h4 {
    font-family: "gilbert-color", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#root {
    height: 100vh;
    width: 100%;
    background-color: #F7F7F7;
}

.centrado {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centrado-v {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.centrado-h {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fit {
    width: max-content;
}
