@import "./colors";
@import "./btns";
@import "./login";
@import "./landPage";

* {
    font-family: "Varela Round", sans-serif;
}
h1,h2,h3,h4 {
    font-family: "gilbert-color", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#root {
    height: 100vh;
    width: 100vw;
}

.centrado {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centrado-v {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.centrado-h {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.fit {
    width: max-content;
}
